/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}
.header {
height: 50px;
background-color: rgb(9, 36, 27);
}
.header .header-title{
line-height: 50px;
    text-align: center;
    font-weight: bold;
    color: rgb(214, 211, 191);
    text-shadow:1px 2px 2px black;
text-transform: uppercase;
}
body .main {

    height: 85vh;
 
    overflow-y: scroll;
    
}
body .main::-webkit-scrollbar {
    width: 0.8em;
    
  }
   /* Ponemos un color de fondo y redondeamos las esquinas del thumb */
body .main::-webkit-scrollbar-thumb {
    /* background: #ccc; */
    background: rgb(28, 48, 4);
    border-radius: 4px;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body .main::-webkit-scrollbar-thumb:hover {
    /* background: #b3b3b3; */
    background: #0bdf86;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* Cambiamos el fondo cuando esté en active */
body .main::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}
  /* Ponemos un color de fondo y redondeamos las esquinas del track */
body .main::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}
/* Cambiamos el fondo cuando esté en active o hover */
body .main::-webkit-scrollbar-track:hover,
body .main::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}
body .footer{
    height: calc(100vh - 85vh - 50px );
background-color: rgb(3, 17, 13);
}
.main .oracion-titulo{

    background-color: rgb(28, 48, 4);
    color: sandybrown;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0;
    font-size: 14px;
}
.main .oracion-texto p{

    padding: 15px;
}